.card-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(auto , 1fr));
    row-gap: 20px;
}
@media screen and (max-width:500px) {
    .card-list{
        width:100%;
        grid-template-columns: 1fr;
    }
    .card{
        width: auto !important;
    }
}