.btn {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .2) 0 6px 20px;
    box-sizing: border-box;
    color: #121212;
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    padding: 1rem 1.2rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s, -webkit-box-shadow .2s;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn.hover:hover,
.btn.box {
    box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.btn-group {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-title {
    cursor: auto !important;
    margin-bottom: 15px;
}

.wrapper-header p {
    font-size: clamp(2rem, 3vw, 3rem);
    font-family: var(--primary-font) !important;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap:20px;
    justify-content: center;
    align-items: center;
}
.card {
    box-shadow: 0 0 5px rgba(0, 0, 0, .6);
    border-radius: 8px;
    padding: 10px;
    height: 450px;
}
.card > div {
    display: block;
    margin:10px 0;
}
.card-image{
    height: 300px;
   
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}
.card-content p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}
.card-content span {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4;
    max-height: calc(1.4em * 3);
}
.card .tech-stack { float: left; }
.card .project-links { float:right; }
.card .project-links a {
    text-decoration: none;
    color:black;
}
a.action{
    display: inline-block;
    vertical-align: middle;
    margin:0 5px;
    text-decoration: none;
    cursor: pointer;
}
.tech-stack span i {
    vertical-align: middle;
    margin:0 5px;
    font-size: 1.5rem;
}


@media screen and (max-width:600px) {
    .card-container{
        grid-template-columns: 1fr;
    }    
}