
.card{
    background-color: #d8d1d1;
    width: 200px;
    padding:10px;
    border-radius: 5px;
}
.card p{
    padding: 0;
    margin:0;
}
.card > :nth-child(1){
    font-weight: var(--fsemibold);
    font-size: 14px;
    margin-bottom: 5px;
}
.card > :nth-child(2),
.card > :nth-child(3)
{
    font-size: 10px;
    margin-bottom: 5px;

}
.card > :nth-child(3){
   font-weight: var(--flight);
   font-style: italic; 
   text-decoration: none;
   color: black;
}
