
.stack{
    background-color:#d8d1d1 ;
    border-radius: 10px;
    padding: 6px 5px;
    width: 80px;
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width:200px) {
    .stack{
        width: 100%;
    }
}