
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --primary-font: "Fira Sans", sans-serif;
    --secondary-font:"Bebas Neue", sans-serif;
    --small-text-font: "Fira Sans", sans-serif;
    --primary-color:#331D2C;
    --hover-background:#a7829533;
    --secondary-color:#EFE1D1;
    --accent-color:#A78295;
    --opacity-transition:opacity .5s ease-in;
    /* --hover-transition: .9s ease-in; */
}
*{
    scroll-behavior: smooth;
    
}
html , body{
    box-sizing: border-box;
    padding:0;
    margin: 0;
    margin-top: 30px;
}
p,
span
{
    padding: 0;
    margin: 0;
}
section{
    padding:30px 20px;
    margin:10px;
    font-family: var(--primary-font) !important;
    scroll-margin-top: 70px;
}
section.home{
    height: calc(100vh - 40px);
    display: flex;
    align-items: center;
}
.home-content p:nth-child(1){
    font-size: clamp(2.5rem,3vw,3.5rem);
}
.home-content span{
    font-weight: bold;
    font-size: clamp(5rem,10vw,10rem);
}
.home-content p:nth-of-type(2){
    font-family: var(--small-text-font);
    font-weight: 300;
    font-size: 1.5rem;
}
.stack{
    display: block;
}
.stack > p:nth-of-type(1){
    font-size: 1.5rem;
}

.tech-bar{
    display: flex;
    gap:5px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.tech-bar span{
    font-size: 2.5rem;
    display: inline-block;
    margin:0 10px;
}

@media screen and (max-width:600px) {
    section.home,
    .tech-bar
    {
        justify-content: center;
    }
}