:root{
    --primaryFontFamily:"Inter", sans-serif;
    --fextraLight:200;
    --flight:300;
    --fsemibold:600;
}
*{
    scroll-behavior: smooth;
    font-family: var(--primaryFontFamily);
    
}
 body{
    box-sizing: border-box;
    padding:10px;
    margin: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #fff6f6;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
svg{
    display: inline-block;
    vertical-align: middle;
}
a {
    text-decoration: none;
}

hr{
    margin: 20px 0;
    opacity: .4;
}

.wrapper-grid-col-1,
.wrapper-grid-col-2,
.grid-col-2
{
    display: grid;
    width: 500px;
}
.wrapper-grid-col-2{
    grid-template-columns: 140px 1fr;
    gap:20px;
    grid-template-rows: 150px;
}
.wrapper-grid-col-1{
    grid-template-columns: 1fr;
}
.grid-col-2{
    grid-template-columns: 1fr 150px;
}


.section-title{
    /* font-size: 20px; */
    font-size: clamp(15px , 5vw , 20px);
    font-weight: 600;
    padding-bottom: 0;
    margin-bottom: 6px;
}
.sub-title{
    /* font-size: 13px; */
     font-size: clamp(8px , 5vw , 13px);
    font-weight: var(--fsemibold);
}

footer p {
    text-align: center;
    font-size: 10px;
    font-weight: var(--flight);
}
footer svg{
    margin-right: 5px;
}
@media screen and (max-width:517px) {
    .wrapper-grid-col-2{
        grid-template-columns: 100px 1fr;
        justify-content: center;
    }
    .grid-col-2{
        grid-template-columns: 1fr 100px;
    }
    .wrapper-grid-col-1,
    .wrapper-grid-col-2,
    .grid-col-2
    {
        width: 100%;
    }
}
@media screen and (max-width:450px) {
    .section-title,
    .sub-title
    {
        text-align: center;
    }
     .grid-col-2{
        grid-template-columns: 1fr;
    }
}
